<%- include partials/header.ejs %> 
<h1>About Us</h1>
<p> At [Daily Journal], our mission is to help individuals nurture their inner selves through the power of daily journaling. We believe that the act of writing down your thoughts and experiences can lead to self-discovery, growth, and happiness. Our goal is to provide a safe and supportive environment for people to express themselves, reflect on their lives, and preserve their memories for the future.<br/><br/>

    We are a team of passionate individuals dedicated to making journaling accessible and enjoyable for everyone. Our website is designed with the user in mind, offering a user-friendly interface, advanced privacy controls, and multimedia support to enhance the journaling experience. Whether you're a seasoned journaler or just starting out, [Daily Journal] has everything you need to deepen your self-reflection and growth journey.<br/><br/>
    
    Join us on our mission to foster a world where people are encouraged to express their authentic selves and embrace the power of daily journaling. Start your journey today and become a part of the [Daily Journal] community. </p>
<%- include partials/footer.ejs %> 